.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.Box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.Box h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.Box .line {
  margin: 10px 0 20px;
}

.Box .line img {
  width: 70%;
  object-fit: cover;
  border-radius: 8px;
}

.contact-details {
  font-size: 1.1rem;
  color: #444;
}

.contact-details p {
  margin: 10px 0;
}

.contact-details strong {
  font-weight: bold;
}

.social-links {
  margin-top: 20px;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin: 8px 0;
}

.social-links a {
  text-decoration: none;
  color: #0073e6;
  font-size: 1.1rem;
}

.social-links a:hover {
  text-decoration: underline;
}